body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

img {
    width: 400px;
    height: 500px;
    border-radius: 10px;
    object-fit: cover;
}

button {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
}

#prevBtn {
    left: -50px;
}

#nextBtn {
    right: -50px;
}

button:hover {
    background: rgba(0, 0, 0, 0.8);
}
